/*header white and font black, padding used to create border space*/
header {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    padding: 5px;
}

ul {
    width: 30%;
    margin: 0 auto;
    list-style-position: inside;
}
/*list left instead of centered*/
li {
    text-align: left;
}

main {
    width: 70%;
    margin: 0 auto;
    padding: 0 30px;
}

/*directions for the body section*/
body {
    background-color: rgb(231, 227, 227);
    text-align: center;
    color:rgb(3, 3, 3);
    font-family: 'Courier New', Courier, monospace;

}

/*sentence to begin left aligned instead of centered*/
.left {
    text-align: left;
}

/*footer instructions, I definitely had to google for the copyright symbol*/
footer {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    padding: 1%;
    font-size: x-small;
    height: fit-content;
}

/*image sizing, padding for space*/
img {
    width: 50%;
    height: 50%;
    padding: 5%;
}

/*colors for links on page before being visited, hovered, and visited*/
a:link {
    color: green;
}

a:visited {
    color: yellow;
}

a:link:hover {
    color: blue;
}