header {
    background-color: #ffffffff;
    color: #000000;
    padding: 5px;
}

ul {
    width: 30%;
    margin: 0 auto;
    list-style-position: inside;
}

li {
    text-align: left;
}

main {
    width: 70%;
    margin: 0 auto;
    padding: 0 30px;
}

body {
    background-color: rgb(3, 3, 3);
    text-align: center;
    color:rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;

}

.left {
    text-align: left;
}

footer {
    background-color: #ffffffff;
    color: #000000;
    padding: 1%;
    font-size: x-small;
    height: fit-content;
}

img {
    width: 50%;
    height: 50%;
    padding: 5%;
}